<header class="masthead animated fadeIn aos-overflow-x">
    <div class="container">
        <div class="intro-text">
            <img alt="" class="rounded-circle img-fluid mb-4 img-profil user-select-none" data-aos="fade-down"
                src="assets/images/intro/profil.jpg" />
            <div data-aos="fade-up">
                <div class="intro-heading text-uppercase">{{ "intro.title" | translate }}</div>
                <a 
                    mat-raised-button color="primary" 
                    class="mt-1 about-button link text-uppercase user-select-none" 
                    href="{{ 'intro.link' | translate }}" 
                    target="_blank" 
                    rel="noopener">
                    {{ "intro.resume" | translate }}
                </a>
            </div>
        </div>
    </div>
</header>
