<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/assets/favicon.webp" rel="icon">
    <link href="/assets/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Kilian PAQUIER</title>
</head>

<body>
    <div class="container print-fluid user-select-none pt-3">
        <div class="row">
            <!-- Profile -->
            <div class="col-auto">
                <img loading="lazy" src="/assets/profile.webp" class="img-thumbnail rounded-circle" alt="profile" width="175">
            </div>

            <!-- Translations -->
            <div class="col-auto ms-auto">
                <ul class="list-group">
                {{ range .Langs }}
                <a href="{{ if .Current }}#{{ else }}{{ .Url }}{{ end }}" class="list-group-item {{ if .Current }}active{{ end }}" {{if .Current }}aria-current="true"{{ end }}>
                    <div class="d-flex w-100 text-end justify-content-end align-items-center">
                        <div class="d-none d-sm-block">
                            <p class="mb-0">{{ .Name }}</p>
                            <small>{{ .Skill }}</small>
                        </div>
                        <img loading="lazy" src="{{ .Img }}" class="img-thumbnail rounded-circle ms-sm-3" alt="{{ .Img }}" width="40">
                    </div>
                </a>
                {{ end }}
                </ul>
            </div>
        </div>

        <div class="row">
            <!-- Social links -->
            {{ range .Links }}
            <div class="col-auto pe-2 pt-2">
                <a href="{{ .Url }}" target="_blank" class="text-decoration-none" style="font-size: 1.5rem;" data-bs-toggle="tooltip" data-bs-title="{{ .Name }}" data-bs-placement="top">
                    <i class="{{ .Icon }}"></i>
                </a>
            </div>
            {{ end }}
        </div>

        <h4>{{ .Job }}</h4>
        <p>{{ .About }}</p>

        <div class="row">
            <div class="col-12 col-lg-8 col-xl-7">
                <!-- Experiences -->
                <h5>{{ .Experiences.Title }}</h5>
                <div class="accordion mb-3" id="accordion-experiences">
                    {{ range $i, $e := .Experiences.Values }}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-head-{{ $i }}">
                            <button class="accordion-button {{if gt $i 0}}collapsed{{end}}" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ $i }}" aria-expanded="{{if eq $i 0}}true{{else}}false{{end}}" aria-controls="flush-collapse-{{ $i }}">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <div class="d-flex justify-content-start align-items-center">
                                        <div class="flex-shrink-0">
                                            <img loading="lazy" src="{{ $e.Img }}" class="img-thumbnail me-3" alt="{{ $e.Company }}" width="35">
                                        </div>
                                        <div class="flex-grow-1">
                                            <div>{{ $e.Company }}</div>
                                            <small>{{ $e.Job }}</small>
                                            <div class="mt-2">
                                                {{ range $e.Skills }}
                                                {{ if eq .Type "icon" }}
                                                <i class="{{ .Value }}" style="font-size: 22.5px;" data-bs-toggle="tooltip" data-bs-title="{{ .Name }}" data-bs-placement="top"></i>
                                                {{ else }}
                                                <img loading="lazy" src="{{ .Value }}" alt="{{ .Value }}" style="vertical-align: unset;" width="22.5" data-bs-toggle="tooltip" data-bs-title="{{ .Name }}" data-bs-placement="top">
                                                {{ end }}
                                                {{ end }}
                                            </div>
                                        </div>
                                    </div>
                                    <small class="text-end me-3">{{ $e.Dates }}</small>
                                </div>
                            </button>
                        </h2>

                        <div id="flush-collapse-{{ $i }}" class="accordion-collapse collapse {{if eq $i 0}}show{{end}}" aria-labelledby="flush-head-{{ $i }}" data-bs-parent="#accordion-experiences">
                            <div class="accordion-body">
                                {{ range $e.Missions }}
                                <p class="mb-1">{{ . }}</p>
                                {{ end }}
                                
                                {{ if gt (len $e.Captions) 0 }}
                                <div class="mt-2">
                                    {{ range $e.Captions }}
                                    <p class="text-end mb-0"><small>{{ . }}</small></p>
                                    {{ end }}
                                </div>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                    {{ end }}

                    <!-- Older Experiences -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-head-old">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-old" aria-expanded="false" aria-controls="flush-collapse-old">
                                <div class="d-flex w-100 justify-content-between">
                                    {{ .Experiences.Olders.Key }}
                                </div>
                            </button>
                        </h2>

                        <div id="flush-collapse-old" class="accordion-collapse collapse" aria-labelledby="flush-head-old" data-bs-parent="#accordion-experiences">
                            <div class="accordion-body">
                                {{ range .Experiences.Olders.Missions }}
                                <div class="d-flex w-100 justify-content-between align-items-center mb-2">
                                    <div class="d-flex justify-content-start align-items-center">
                                        <div class="flex-shrink-0">
                                            <img loading="lazy" src="{{ .Img }}" class="me-3" alt="{{ .Company }}" width="30">
                                        </div>
                                        <div class="flex-grow-1">
                                            <div>{{ .Company }}</div>
                                            <small>{{ .Job }}</small>
                                        </div>
                                    </div>
                                    <small class="text-end">{{ .Dates }}</small>
                                </div>
                                {{ end }}

                                {{ range .Experiences.Olders.Captions }}
                                <p class="text-end mb-0"><small>{{ . }}</small></p>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Projects -->
                <h5>{{ .Projects.Title }}</h5>
                <div id="carousel-projects" class="carousel carousel-dark slide mb-3 d-print-none" data-bs-ride="false">
                    <div class="carousel-indicators mb-2">
                        {{ range $i, $p := .Projects.Values }}
                        <button type="button" data-bs-target="#carousel-projects" data-bs-slide-to="{{ $i }}" class="{{if eq $i 0 }}active{{ end }}" aria-current="{{if eq $i 0 }}true{{ else }}false{{ end }}" aria-label="Slide {{ $i }}"></button>
                        {{ end }}
                    </div>
                    <div class="carousel-inner">
                        {{ range $i, $p := .Projects.Values }}
                        <div class="carousel-item {{if eq $i 0 }}active{{ end }}">
                            <div class="row bg-light position-relative px-3 pb-5">
                                <div class="col-12 col-md-6 my-auto mx-auto pt-3">
                                    <img loading="lazy" src="{{ $p.Img }}" class="w-100" alt="{{ $p.Title }}">
                                </div>
                                <div class="col-12 col-md-6 pt-3">
                                    <h6>{{ $p.Title }}</h6>

                                    {{ range $p.Skills }}
                                    {{ if eq .Type "icon" }}
                                    <i class="{{ .Value }}" style="font-size: 22.5px;" data-bs-toggle="tooltip" data-bs-title="{{ .Name }}" data-bs-placement="top"></i>
                                    {{ else }}
                                    <img loading="lazy" src="{{ .Value }}" alt="{{ .Value }}" style="vertical-align: unset;" width="22.5" data-bs-toggle="tooltip" data-bs-title="{{ .Name }}" data-bs-placement="top">
                                    {{ end }}
                                    {{ end }}

                                    <a href="{{ $p.Link }}" target="_blank" class="text-decoration-none">
                                        {{ if eq $p.Icon.Type "icon" }}
                                        <i class="{{ $p.Icon.Value }}" style="font-size: 22.5px;"></i>
                                        {{ else }}
                                        <img loading="lazy" src="{{ $p.Icon.Value }}" alt="{{ $p.Icon.Value }}" style="vertical-align: unset;" height="22.5">
                                        {{ end }}
                                    </a>

                                    <p class="my-1">{{ $p.Description }}</p>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-projects" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-projects" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <!-- Projects (print mode) -->
                <div class="row mb-3 d-none d-print-flex">
                    {{ range $i, $p := .Projects.Values }}
                    <div class="col-6 {{ if gt $i 1 }}mt-3{{ end }}">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">{{ $p.Title }}</div>
                                <p class="card-text mb-0">
                                    {{ range $p.Skills }}
                                    {{ if eq .Type "icon" }}
                                    <i class="{{ .Value }}" style="font-size: 22.5px;" data-bs-toggle="tooltip" data-bs-title="{{ .Name }}" data-bs-placement="top"></i>
                                    {{ else }}
                                    <img loading="lazy" src="{{ .Value }}" alt="{{ .Value }}" style="vertical-align: unset;" width="22.5" data-bs-toggle="tooltip" data-bs-title="{{ .Name }}" data-bs-placement="top">
                                    {{ end }}
                                    {{ end }}

                                    <a href="{{ $p.Link }}" target="_blank" class="text-decoration-none">
                                        {{ if eq $p.Icon.Type "icon" }}
                                        <i class="{{ $p.Icon.Value }}" style="font-size: 22.5px;"></i>
                                        {{ else }}
                                        <img loading="lazy" src="{{ $p.Icon.Value }}" alt="{{ $p.Icon.Value }}" style="vertical-align: unset;" height="22.5">
                                        {{ end }}
                                    </a>
                                </p>
                                <p class="card-text">{{ $p.Description }}</p>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>

            <div class="col-12 col-lg-4 col-xl-5">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-12">
                        <!-- Education -->
                        <h5>{{ .Educations.Title }}</h5>
                        {{ range .Educations.Values }}
                        <div class="d-flex w-100 align-items-center mb-3">
                            <div class="flex-shrink-0">
                                <img loading="lazy" src="{{ .Img }}" class="img-thumbnail rounded-circle me-3" alt="{{ .Diploma }}" width="40">
                            </div>
                            <div class="card flex-grow-1">
                                <div class="card-body">
                                    <div class="card-title">{{ .Place }}</div>
                                    <div class="card-subtitle"><small>{{ .Diploma }}</small></div>
                                    <p class="card-text mt-2">
                                        {{ range .Skills }}
                                        {{ if eq .Type "icon" }}
                                        <i class="{{ .Value }}" style="font-size: 22.5px;" data-bs-toggle="tooltip" data-bs-title="{{ .Name }}" data-bs-placement="top"></i>
                                        {{ else }}
                                        <img loading="lazy" src="{{ .Value }}" alt="{{ .Value }}" style="vertical-align: unset;" width="22.5" data-bs-toggle="tooltip" data-bs-title="{{ .Name }}" data-bs-placement="top">
                                        {{ end }}
                                        {{ end }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>

                    <div class="col-12 col-md-6 col-lg-12">
                        <!-- Tools -->
                        <h5>{{ .Tools.Title }}</h5>
                        <div class="mb-3">
                            {{ range .Tools.Values }}
                            {{ if eq .Type "icon" }}
                            <i class="{{ .Value }}" style="font-size: 22.5px;" data-bs-toggle="tooltip" data-bs-title="{{ .Name }}" data-bs-placement="top"></i>
                            {{ else }}
                            <img loading="lazy" src="{{ .Value }}" alt="{{ .Value }}" style="vertical-align: unset;" width="22.5" data-bs-toggle="tooltip" data-bs-title="{{ .Name }}" data-bs-placement="top">
                            {{ end }}
                            {{ end }}
                        </div>

                        <!-- Behaviors -->
                        <h5>{{ .Behaves.Title }}</h5>
                        <div class="mb-3">
                            {{ range .Behaves.Values }}
                            <p class="mb-0">{{ . }}</p>
                            {{ end }}
                        </div>

                        <!-- Interests -->
                        <h5>{{ .Interests.Title }}</h5>
                        <div class="row mb-3">
                            {{ range .Interests.Values }}
                            <div class="col-auto mx-auto text-center mb-2">
                                <img loading="lazy" src="{{ .Img }}" class="img-thumbnail rounded-circle" alt="{{ .Name }}" width="100">
                                <div><small>{{ .Name }}</small></div>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
</body>

</html>