// LANG SLIDES SELECTION

.inherit-colors {
    background-color: inherit;
    border-color: inherit;
}

.rounded-circle {
    border-radius: 50% !important;
}

.img-thumbnail {
    padding: .25rem;
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    max-width: 100%;
    height: auto
}

// PROJECTS

[data-bs-theme="dark"] {
    .carousel-projects {
        background-color: #1a1d20 !important;
    }
}

.carousel-projects {
    background-color: #f8f9fa !important;
}

// EXPERIENCES

.accordion-header {
    >.accordion-button {
        &:focus {
            z-index: initial;
        }

        transition: none;
    }
}

// SLIDES MENU

.top {
    position: absolute;
    top: 1%;
    right: 1%;
}

// SLIDES

.reveal {
    ul, p {
        font-size: 30px;
    }

    code {
        font-size: 28px; // set text size for things between ``
    }

    .hljs, code * span {
        font-size: 20px; // set text size for highlight zones
    }

    pre {
        box-shadow: none; // remove weird focus on highlight zones
    }
}
